
## <summary>policy for opcx</summary>


########################################
## <summary>
##	Transition to opcx.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`opcx_domtrans',`
	gen_require(`
		type opcx_t, opcx_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, opcx_exec_t, opcx_t)
')


########################################
## <summary>
##	Execute opcx server in the opcx domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`opcx_initrc_domtrans',`
	gen_require(`
		type opcx_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, opcx_initrc_exec_t)
')


########################################
## <summary>
##	Search opcx lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`opcx_search_lib',`
	gen_require(`
		type opcx_var_lib_t;
	')

	allow $1 opcx_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read opcx lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`opcx_read_lib_files',`
	gen_require(`
		type opcx_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, opcx_var_lib_t, opcx_var_lib_t)
')

########################################
## <summary>
##	Manage opcx lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`opcx_manage_lib_files',`
	gen_require(`
		type opcx_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, opcx_var_lib_t, opcx_var_lib_t)
')

########################################
## <summary>
##	Manage opcx lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`opcx_manage_lib_dirs',`
	gen_require(`
		type opcx_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, opcx_var_lib_t, opcx_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a opcx environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`opcx_admin',`
	gen_require(`
		type opcx_t;
		type opcx_initrc_exec_t;
		type opcx_var_lib_t;
	')

	allow $1 opcx_t:process { ptrace signal_perms };
	ps_process_pattern($1, opcx_t)

	opcx_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 opcx_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, opcx_var_lib_t)

')

