[Unit]
Description=OPCX's distributed currency daemon
After=network.target

[Service]
User=opcx
Group=opcx

Type=forking
PIDFile=/var/lib/opcxd/opcxd.pid

ExecStart=/usr/bin/opcxd -daemon -pid=/var/lib/opcxd/opcxd.pid \
          -conf=/etc/opcx/opcx.conf -datadir=/var/lib/opcxd

ExecStop=-/usr/bin/opcx-cli -conf=/etc/opcx/opcx.conf \
         -datadir=/var/lib/opcxd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
